@import '../../../common/colors';

@import '../common';

.mvn-text-input {
  @include mvn-input-container();

  .mvn-text-input-label {
    @include mvn-input-label();
    position: relative;

    input {
      @include mvn-input();
      height: $mvn-input-height;
      padding: 0 $mvn-input-height / 4;

      &:focus ~ .mvn-icon-container {
        opacity: 0.85;
      }
    }

    > .mvn-icon-container {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      pointer-events: none;
      z-index: 1;
      opacity: 0.6;
    }

    .mvn-text-input-left-icon {
      left: $mvn-input-height / 4;
    }

    .mvn-text-input-right-icon {
      right: $mvn-input-height / 4;
    }

    .mvn-text-input-right-element {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      z-index: 1;
    }
  }

  &.mvn-has-left-icon {
    .mvn-text-input-label input {
      padding-left: $mvn-input-height / 1.15;
    }
  }

  &.mvn-has-right-icon {
    .mvn-text-input-label input {
      padding-right: $mvn-input-height / 1.15;
    }
  }

  &.mvn-text-input-error {
    .mvn-text-input-label {
      color: map-get($mvn-colors-text, 'danger');

      .mvn-dark & {
        color: map-get($mvn-colors-text-dark, 'danger');
      }

      input {
        @include mvn-input-error;
      }
    }
  }

  &.mvn-text-input-sm {
    .mvn-text-input-label {
      font-size: $mvn-font-size-small;

      input {
        height: $mvn-input-height-small;
        padding: 0 $mvn-input-height-small / 4;
      }

      .mvn-text-input-left-icon {
        left: $mvn-input-height-small / 4;
      }

      .mvn-text-input-right-icon {
        right: $mvn-input-height-small / 4;
      }
    }

    &.mvn-has-left-icon {
      .mvn-text-input-label input {
        padding-left: $mvn-input-height-small / 1.15;
      }
    }

    &.mvn-has-right-icon {
      .mvn-text-input-label input {
        padding-right: $mvn-input-height-small / 1.15;
      }
    }
  }

  &.mvn-text-input-lg {
    .mvn-text-input-label {
      font-size: $mvn-font-size-large;

      input {
        height: $mvn-input-height-large;
        padding: 0 $mvn-input-height-large / 4;
      }

      .mvn-text-input-left-icon {
        left: $mvn-input-height-large / 4;
      }

      .mvn-text-input-right-icon {
        right: $mvn-input-height-large / 4;
      }
    }

    &.mvn-has-left-icon {
      .mvn-text-input-label input {
        padding-left: $mvn-input-height-large / 1.15;
      }
    }

    &.mvn-has-right-icon {
      .mvn-text-input-label input {
        padding-right: $mvn-input-height-large / 1.15;
      }
    }
  }
}
