@import '../../Heading/heading.module.scss';

$alert-types: (
  'info': 'primary',
  'success': 'success',
  'warning': 'warning',
  'danger': 'danger'
);

.alert {
  border: 1px solid transparent;
  border-radius: var(--mvn-border-radius);
  display: flex;
  margin: 0 0 1.6rem 0;
  padding: 0.8rem;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

  &.closable {
    padding-right: 4rem;
  }
}

.icon {
  margin-right: 0.8rem;
}

.title {
  display: block;
}

.content {
  flex-grow: 1;

  .title {
    color: inherit;
  }
}

.close {
  position: absolute;
  top: 0;
  right: 0;
}

@each $name, $color in $alert-types {
  .#{$name} {
    border-color: var(--mvn-#{$color});
    background-color: var(--mvn-#{$color}-w85);

    .icon {
      color: var(--mvn-color-text-#{$color});
    }

    :global(.mvn-dark) & {
      background-color: var(--mvn-#{$color});
      color: var(--mvn-#{$color}-background-text);

      .icon {
        color: var(--mvn-#{$color}-background-text);
      }
    }
  }
}
