@import '../../../common/colors';
@import '../../../common/mixins';

@import '../common';

.mvn-text-area {
  @include mvn-input-container();

  .mvn-text-area-label {
    @include mvn-input-label();

    textarea {
      @include mvn-input();
      resize: none;
      padding: $mvn-input-height / 4;

      &.mvn-text-area-no-auto-size {
        @include scrollbars(
          $mvn-color-background-text,
          $mvn-color-background-text-dark
        );

        overflow: hidden;
        &:hover,
        &:focus {
          overflow-y: auto;
        }
      }
    }
  }

  &.mvn-text-area-error {
    .mvn-text-area-label {
      color: map-get($mvn-colors-text, 'danger');

      .mvn-dark & {
        color: map-get($mvn-colors-text-dark, 'danger');
      }

      textarea {
        @include mvn-input-error;
      }
    }
  }

  &.mvn-text-area-sm {
    .mvn-text-area-label {
      font-size: $mvn-font-size-small;

      textarea {
        padding: $mvn-input-height-small / 4;
      }
    }
  }

  &.mvn-text-area-lg {
    .mvn-text-area-label {
      font-size: $mvn-font-size-large;

      textarea {
        padding: $mvn-input-height-large / 4;
      }
    }
  }
}
