@import './_normalize.css';

:root {
  --mvn-base: 10px;

  /** colors **/
  --mvn-black: 0, 0, 0;
  --mvn-white: 255, 255, 255;

  --mvn-dark-grey1: 69, 79, 89;
  --mvn-dark-grey2: 57, 67, 77;
  --mvn-dark-grey3: 50, 58, 66;
  --mvn-dark-grey4: 39, 45, 51;
  --mvn-dark-grey5: 29, 34, 38;

  --mvn-grey1: 215, 218, 219;
  --mvn-grey2: 180, 188, 194;
  --mvn-grey3: 148, 160, 168;
  --mvn-grey4: 119, 132, 143;
  --mvn-grey5: 91, 105, 117;

  --mvn-light-grey1: 245, 248, 251;
  --mvn-light-grey2: 235, 241, 245;
  --mvn-light-grey3: 225, 232, 237;
  --mvn-light-grey4: 216, 225, 232;
  --mvn-light-grey5: 206, 217, 224;

  --mvn-red1: 255, 102, 102;
  --mvn-red2: 253, 76, 76;
  --mvn-red3: 247, 49, 49;
  --mvn-red4: 235, 47, 47;
  --mvn-red5: 222, 44, 44;

  --mvn-orange1: 255, 165, 112;
  --mvn-orange2: 252, 147, 86;
  --mvn-orange3: 245, 127, 59;
  --mvn-orange4: 232, 120, 56;
  --mvn-orange5: 219, 114, 53;

  --mvn-yellow1: 255, 214, 89;
  --mvn-yellow2: 255, 207, 64;
  --mvn-yellow3: 255, 201, 38;
  --mvn-yellow4: 229, 181, 34;
  --mvn-yellow5: 204, 161, 31;

  --mvn-green1: 81, 252, 123;
  --mvn-green2: 52, 227, 93;
  --mvn-green3: 27, 201, 67;
  --mvn-green4: 23, 176, 59;
  --mvn-green5: 20, 150, 50;

  --mvn-teal1: 79, 255, 202;
  --mvn-teal2: 52, 247, 189;
  --mvn-teal3: 24, 225, 165;
  --mvn-teal4: 22, 199, 146;
  --mvn-teal5: 19, 173, 127;

  --mvn-blue1: 102, 191, 255;
  --mvn-blue2: 73, 172, 242;
  --mvn-blue3: 43, 145, 217;
  --mvn-blue4: 38, 128, 191;
  --mvn-blue5: 33, 111, 166;

  --mvn-indigo1: 166, 109, 252;
  --mvn-indigo2: 136, 75, 227;
  --mvn-indigo3: 109, 46, 201;
  --mvn-indigo4: 95, 40, 176;
  --mvn-indigo5: 81, 35, 150;

  --mvn-pink1: 255, 89, 186;
  --mvn-pink2: 254, 64, 175;
  --mvn-pink3: 252, 38, 164;
  --mvn-pink4: 227, 34, 147;
  --mvn-pink5: 201, 30, 130;

  --mvn-color-primary1: var(--mvn-blue1);
  --mvn-color-primary2: var(--mvn-blue2);
  --mvn-color-primary3: var(--mvn-blue3);
  --mvn-color-primary4: var(--mvn-blue4);
  --mvn-color-primary5: var(--mvn-blue5);

  --mvn-color-success1: var(--mvn-green1);
  --mvn-color-success2: var(--mvn-green2);
  --mvn-color-success3: var(--mvn-green3);
  --mvn-color-success4: var(--mvn-green4);
  --mvn-color-success5: var(--mvn-green5);

  --mvn-color-warning1: var(--mvn-orange1);
  --mvn-color-warning2: var(--mvn-orange2);
  --mvn-color-warning3: var(--mvn-orange3);
  --mvn-color-warning4: var(--mvn-orange4);
  --mvn-color-warning5: var(--mvn-orange5);

  --mvn-color-danger1: var(--mvn-red1);
  --mvn-color-danger2: var(--mvn-red2);
  --mvn-color-danger3: var(--mvn-red3);
  --mvn-color-danger4: var(--mvn-red4);
  --mvn-color-danger5: var(--mvn-red5);

  --mvn-color-black: rgb(var(--black));
  --mvn-color-white: rgb(var(--white));
  --mvn-color-dark-grey: rgb(var(--dark-grey3));
  --mvn-color-grey: rgb(var(--grey3));
  --mvn-color-light-grey: rgb(var(--light-grey3));
  --mvn-color-red: rgb(var(--red3));
  --mvn-color-orange: rgb(var(--orange3));
  --mvn-color-yellow: rgb(var(--yellow3));
  --mvn-color-green: rgb(var(--green3));
  --mvn-color-teal: rgb(var(--teal3));
  --mvn-color-blue: rgb(var(--blue3));
  --mvn-color-indigo: rgb(var(--indigo3));
  --mvn-color-pink: rgb(var(--pink3));
  --mvn-color-primary: rgb(var(--mvn-color-primary3));
  --mvn-color-success: rgb(var(--mvn-color-success3));
  --mvn-color-warning: rgb(var(--mvn-color-warning3));
  --mvn-color-danger: rgb(var(--mvn-color-danger3));

  --mvn-color-text-black: rgb(--var($black));
  --mvn-color-text-white: rgb(--var($white));
  --mvn-color-text-dark-grey: rgb(--var($dark-grey3));
  --mvn-color-text-grey: rgb(--var($grey4));
  --mvn-color-text-light-grey: rgb(--var($light-grey4));
  --mvn-color-text-red: rgb(--var($red4));
  --mvn-color-text-orange: rgb(--var($orange4));
  --mvn-color-text-yellow: rgb(--var($yellow4));
  --mvn-color-text-green: rgb(--var($green4));
  --mvn-color-text-teal: rgb(--var($teal4));
  --mvn-color-text-blue: rgb(--var($blue4));
  --mvn-color-text-indigo: rgb(--var($indigo4));
  --mvn-color-text-pink: rgb(--var($pink4));
  --mvn-color-text-primary: rgb(--var($mvn-color-primary4));
  --mvn-color-text-success: rgb(--var($mvn-color-success4));
  --mvn-color-text-warning: rgb(--var($mvn-color-warning4));
  --mvn-color-text-danger: rgb(--var($mvn-color-danger4));

  --mvn-color-text-black-dark: rgb(--var($black));
  --mvn-color-text-white-dark: rgb(--var($white));
  --mvn-color-text-dark-grey-dark: rgb(--var($dark-grey3));
  --mvn-color-text-grey-dark: rgb(--var($grey2));
  --mvn-color-text-light-grey-dark: rgb(--var($light-grey2));
  --mvn-color-text-red-dark: rgb(--var($red2));
  --mvn-color-text-orange-dark: rgb(--var($orange2));
  --mvn-color-text-yellow-dark: rgb(--var($yellow2));
  --mvn-color-text-green-dark: rgb(--var($green2));
  --mvn-color-text-teal-dark: rgb(--var($teal2));
  --mvn-color-text-blue-dark: rgb(--var($blue2));
  --mvn-color-text-indigo-dark: rgb(--var($indigo1));
  --mvn-color-text-pink-dark: rgb(--var($pink2));
  --mvn-color-text-primary-dark: rgb(--var($mvn-color-primary2));
  --mvn-color-text-success-dark: rgb(--var($mvn-color-success2));
  --mvn-color-text-warning-dark: rgb(--var($mvn-color-warning2));
  --mvn-color-text-danger-dark: rgb(--var($mvn-color-danger2));

  --mvn-color-background: rgb(var(--mvn-light-grey1));
  --mvn-color-background-text: rgb(var(--mvn-white));
  --mvn-color-background-dark: rgb(var(--mvn-dark-grey3));
  --mvn-color-background-text-dark: rgb(var(--mvn-dark-grey4));

  --mvn-color-border: rgb(var(--mvn-light-grey3));
  --mvn-color-border-dark: rgb(var(--mvn-dark-grey2));

  --mvn-color-text: rgb(var(--mvn-black));
  --mvn-color-text-heading: var(--mvn-color-text);
  --mvn-color-link: rgb(var(--mvn-primary4));
  --mvn-color-text-dark: rgb(var(--mvn-grey1));
  --mvn-color-text-heading-dark: var(--mvn-color-text-dark);
  --mvn-color-link-dark: rgb(var(--mvn-primary2));

  --mvn-color-focus: rgb(var(--mvn-color-primary3));
  --mvn-color-focus-danger: rgb(var(--mvn-color-danger3));
  --mvn-color-outline: rgba(var(--mvn-color-primary3), 0.5);
  --mvn-color-outline-danger: rgba(var(--mvn-color-danger3), 0.5);
  --mvn-color-text-selection: rgba(var(--mvn-color-primary3), 0.25);

  /** typography **/
  --mvn-font-family: -apple-system, 'Segoe UI', Roboto, Oxygen-Sans, Cantarell,
    'Fira Sans', 'Helvetica Neue', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji';
  --mvn-font-family-monospace: source-code-pro, Menlo, Monaco, Consolas,
    'Courier New', monospace;
  --mvn-font-family-heading: var(--mvn-font-family);

  --mvn-line-height: 1.65;
  --mvn-line-height-heading: 1.25;
}

html {
  font-size: var(--mvn-base);
}

body {
  background: var(--mvn-color-background);
  color: var(--mvn-color-text);
  line-height: var(--mvn-line-height);
  font-family: var(--mvn-font-family);
  font-size: 1.6rem;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  transition: background 0.2s cubic-bezier(0.4, 1, 0.75, 0.9);
}

body.mvn-dark {
  background: var(--mvn-color-background-dark);
  color: var(--mvn-color-text-dark);
}

::selection {
  background: var(--mvn-color-text-selection);
}
