@import '../../maeven/common/colors';
@import '../../maeven/common/functions';

.docs-icon-browser {
  .docs-interactive-card {
    position: absolute;
    width: 6em;
    height: 6em;
    transition: animate-transition(box-shadow), animate-transition(width),
      animate-transition(height), animate-transition(top),
      animate-transition(left);

    top: 0;
    left: 0;

    > div {
      transition: animate-transition(padding);

      > span:first-child {
        transition: amimate-transition(color), amimate-transition(font-size);
      }
    }

    &:focus {
      z-index: 2;
      width: 12em;
      height: 12em;
      top: -3em;
      left: -3em;
      background: $mvn-color-background-text;

      .mvn-dark & {
        background: $mvn-color-background-text-dark;
      }

      > div {
        padding-top: 1.5em;

        > span:first-child {
          font-size: 5.5em !important;
        }

        > div:last-child {
          margin-top: 0.5em;
        }
      }
    }
  }
}
