@import '../../maeven/common/colors';
@import '../../maeven/common/variables';

.docs-props-table {
  border: 0;
  margin-bottom: $mvn-base;
  width: 100%;
  border-collapse: collapse;

  thead th {
    text-align: left;
    padding-bottom: $mvn-base;
  }

  td:first-child {
    width: 132px;
    font-weight: bold;
  }

  td:nth-child(2),
  th:nth-child(2) {
    padding-left: $mvn-base / 2;
    padding-right: $mvn-base / 2;
  }

  td:last-child {
    width: 132px;
  }

  tbody td {
    vertical-align: top;
    border-top: 1px solid $mvn-color-border;
    padding: $mvn-base / 2 0;
  }

  tbody tr:nth-child(odd) td {
    background: rgba($black, 0.01);
  }

  code {
    font-family: $mvn-font-family-monospace;
    font-size: 0.9em;

    &.boolean {
      color: map-get($mvn-colors-text, 'indigo');
    }

    &.number {
      color: map-get($mvn-colors-text, 'indigo');
    }

    &.string {
      color: map-get($mvn-colors-text, 'orange');
    }
  }

  .mvn-dark & {
    tbody td {
      border-color: $mvn-color-border-dark;
    }

    tbody tr:nth-child(odd) td {
      background: rgba($white, 0.01);
    }

    code {
      &.boolean {
        color: map-get($mvn-colors-text-dark, 'indigo');
      }

      &.number {
        color: map-get($mvn-colors-text-dark, 'indigo');
      }

      &.string {
        color: map-get($mvn-colors-text-dark, 'yellow');
      }
    }
  }
}
