@import '../../../common/mixins';
@import '../../../common/variables';

.mvn-form-field {
  flex-direction: row;

  .mvn-form-field-label {
    flex-grow: 0 !important;
    width: 20% !important;
    max-width: $mvn-base * 16 !important;
    text-align: right;
    display: flex;
    align-items: center;
    height: $mvn-input-height;

    label {
      flex-grow: 1;

      > .mvn-block {
        font-size: 1em;
      }
    }
  }

  .mvn-form-field-field {
    > .mvn-button + .mvn-button {
      margin-left: $mvn-base / 2;
    }
  }

  &:last-child {
    .mvn-form-field-label,
    .mvn-form-field-field {
      margin-bottom: 0;
    }
  }

  &.mvn-form-field-sm {
    .mvn-form-field-label {
      font-size: $mvn-font-size-small;
      height: $mvn-input-height-small;
    }
  }

  &.mvn-form-field-lg {
    .mvn-form-field-label {
      font-size: $mvn-font-size-large;
      height: $mvn-input-height-large;
    }
  }

  @include media-xs {
    .mvn-form-field-label {
      flex-grow: 1 !important;
      width: 100% !important;
      height: auto;
      text-align: left;
      margin-bottom: $mvn-base / 4;

      label {
        font-size: 1.1em;
      }
    }
  }
}
