@import '../../common/variables';
@import '../../common/mixins';

.mvn-block {
  @include bpm0();
  @include base-typography();

  &.mvn-block-padding {
    padding: $mvn-base;
  }

  &.mvn-block-transparent {
    background-color: transparent;
    color: inherit;
    transition: none;
  }
}
