@import '../../../common/functions';
@import '../../../common/mixins';
@import '../../../common/variables';

@import '../../Button/button';

.mvn-radio-button {
  @include bpm0();
  @include base-typography();
  display: flex;
  align-items: center;
  width: 100%;
  height: $mvn-input-height;

  input:first-child {
    opacity: 0;
    height: 0;
    width: 0;
    position: absolute;

    &:focus + .mvn-radio-button-circle {
      outline: none;
      z-index: 1;
      box-shadow: 0 0 0 $mvn-outline-size * 0.75 $mvn-color-outline;
    }

    &:active:not(:disabled) + .mvn-radio-button-circle {
      background-color: $mvn-button-color-background-active;
      background-image: none;
      box-shadow: 0 0 0 $mvn-outline-size * 0.75 $mvn-color-outline;

      &::after {
        background-color: map-get($mvn-button-primary, 'active');
        background-image: none;

        .mvn-dark & {
          background-color: map-get($mvn-button-primary, 'active-dark');
        }
      }
    }

    &:disabled + .mvn-radio-button-circle {
      box-shadow: none;
      background-color: $mvn-button-color-background-disabled;
      background-image: none;

      &::after {
        filter: grayscale(0.7);

        .mvn-dark & {
          filter: grayscale(0.6);
        }
      }
    }

    &:disabled ~ .mvn-radio-button-text {
      color: rgba($mvn-color-text, 0.6);

      .mvn-dark & {
        color: rgba($mvn-color-text-dark, 0.6);
      }
    }

    &:checked + .mvn-radio-button-circle:after {
      transform: translate(-50%, -50%) scale(0.65);
      opacity: 1;
    }
  }

  .mvn-radio-button-circle {
    position: relative;
    height: 1em;
    width: 1em;
    line-height: 1;
    border-radius: 50%;
    background-color: $mvn-button-color-background;
    background-image: $mvn-button-background-gradient;
    box-shadow: $mvn-button-box-shadow;
    user-select: none;
    margin-right: $mvn-input-height / 4;

    .mvn-dark & {
      box-shadow: $mvn-button-box-shadow-dark;
    }

    &::after {
      @include bpm0();
      content: '';
      position: absolute;
      height: 1em;
      width: 1em;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0.5);
      opacity: 0;
      background-color: map-get($mvn-button-primary, 'default');
      background-image: linear-gradient(
        to bottom,
        lighten(map-get($mvn-button-primary, 'default'), 5),
        darken(map-get($mvn-button-primary, 'default'), 5)
      );
      transition: animate-transition(opacity), animate-transition(transform);

      .mvn-dark & {
        background-color: map-get($mvn-button-primary, 'default-dark');
        background-image: linear-gradient(
          to bottom,
          lighten(map-get($mvn-button-primary, 'default-dark'), 5),
          darken(map-get($mvn-button-primary, 'default-dark'), 5)
        );
      }
    }
  }

  .mvn-radio-button-text {
    flex-grow: 1;
    font-size: 1em;
  }

  &.mvn-radio-button-error {
    input:first-child {
      &:focus + .mvn-radio-button-circle {
        box-shadow: 0 0 0 $mvn-outline-size * 0.75 $mvn-color-outline-danger;
      }

      &:active:not(:disabled) + .mvn-radio-button-circle {
        box-shadow: 0 0 0 $mvn-outline-size * 0.75 $mvn-color-outline-danger;

        &::after {
          background-color: map-get($mvn-button-danger, 'active');

          .mvn-dark & {
            background-color: map-get($mvn-button-danger, 'active-dark');
          }
        }
      }
    }

    .mvn-radio-button-circle::after {
      background-color: map-get($mvn-button-danger, 'default');
      background-image: linear-gradient(
        to bottom,
        lighten(map-get($mvn-button-danger, 'default'), 5),
        darken(map-get($mvn-button-danger, 'default'), 5)
      );

      .mvn-dark & {
        background-color: map-get($mvn-button-danger, 'default-dark');
        background-image: linear-gradient(
          to bottom,
          lighten(map-get($mvn-button-danger, 'default-dark'), 5),
          darken(map-get($mvn-button-danger, 'default-dark'), 5)
        );
      }
    }
  }

  &.mvn-radio-button-sm {
    height: $mvn-input-height-small;
    font-size: $mvn-font-size-small;

    .mvn-radio-button-circle {
      margin-right: $mvn-input-height-small / 4;
    }
  }

  &.mvn-radio-button-lg {
    height: $mvn-input-height-large;
    font-size: $mvn-font-size-large;

    .mvn-radio-button-circle {
      margin-right: $mvn-input-height-large / 4;
    }
  }
}
