@import '../../common/colors';
@import '../../common/typography';
@import '../../common/variables';

.mvn-link {
  @extend .mvn-a;

  &.mvn-link-outline:focus {
    position: relative;
    z-index: 1;
    &::before {
      position: absolute;
      border-radius: $mvn-border-radius;
      content: '';
      top: $mvn-border-radius / -2;
      left: $mvn-border-radius / -2;
      bottom: $mvn-border-radius / -2;
      right: $mvn-border-radius / -2;
      box-shadow: 0 0 0px $mvn-outline-size $mvn-color-outline;
    }
  }

  @each $name, $color in $mvn-colors-text {
    &.mvn-link-color-#{$name} {
      color: $color;

      &:hover,
      &:focus {
        color: darken($color, 10);
      }

      .mvn-dark & {
        color: map-get($mvn-colors-text-dark, $name);

        &:hover,
        &:focus {
          color: lighten(map-get($mvn-colors-text-dark, $name), 5);
        }
      }
    }
  }
}
