.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 calc(var(--mvn-grid-gutter) / -2);
}

.normal {
  align-items: normal;
}

.top {
  align-items: flex-start;
}

.center {
  align-items: center;
}

.bottom {
  align-items: flex-end;
}

.baseline {
  align-items: baseline;
}

.stretch {
  align-items: stretch;
}

.no-wrap {
  flex-wrap: nowrap;
}
