@import '../../../common/colors';

.container {
  display: inline-block;
  position: relative;
  stroke-linecap: round;
  text-align: center;
}

.gauge {
  fill: transparent;
}

.track {
  stroke: var(--mvn-color-background);
}

.content {
  left: 50%;
  padding: 1.6rem;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

@each $color, $dashedColor in $colorsMap {
  .container.#{$color} .bar {
    stroke: var(--mvn-#{$dashedColor});
  }
}
