@import '../../../common/mixins';
@import '../../../common/variables';

.mvn-radio-group {
  @include bpm0();
  display: flex;
  flex-direction: column;

  &.mvn-radio-group-inline {
    display: inline-flex;
    flex-direction: row;

    .mvn-radio-button:not(:last-child) {
      margin-right: $mvn-base;
    }
  }
}
