@import '../../common/mixins';
@import '../../common/variables';

$mvn-grid-sm-width: 540px !default;
$mvn-grid-md-width: 720px !default;
$mvn-grid-lg-width: 960px !default;
$mvn-grid-xl-width: 1140px !default;

.mvn-grid-container {
  @include box();
  width: 100%;
  padding: 1.25 * $mvn-base;
  margin: 0 auto;

  &.mvn-responsive-grid-container {
    @include media-sm {
      max-width: $mvn-grid-sm-width;
    }

    @include media-md {
      max-width: $mvn-grid-md-width;
    }

    @include media-lg {
      max-width: $mvn-grid-lg-width;
    }

    @include media-xl {
      max-width: $mvn-grid-xl-width;
    }
  }
}

.mvn-grid-row {
  --mvn-grid-gutter: 0px;
  --mvn-grid-gutter-half: 0px;
  @include bpm0();
  display: flex;
  flex-wrap: wrap;
}

@for $i from 1 through 12 {
  $gutter: $i * $mvn-base;
  $gutter-half: $gutter / 2;

  .mvn-grid-gutter-#{$i} {
    --mvn-grid-gutter: #{$gutter};
    --mvn-grid-gutter-half: #{$gutter-half};
    margin: 0 ($gutter-half * -1);
  }
}

.mvn-grid-row-align-normal {
  align-items: normal;
}

.mvn-grid-row-align-top {
  align-items: flex-start;
}

.mvn-grid-row-align-center {
  align-items: center;
}

.mvn-grid-row-align-bottom {
  align-items: flex-end;
}

.mvn-grid-row-align-baseline {
  align-items: baseline;
}

.mvn-grid-row-align-stretch {
  align-items: stretch;
}

.mvn-grid-row-no-wrap {
  flex-wrap: nowrap;
}

.mvn-grid-col {
  @include box();
  flex: 1 1 auto;
  margin: 0 var(--mvn-grid-gutter-half) var(--mvn-grid-gutter)
    var(--mvn-grid-gutter-half);

  @for $i from 1 through 24 {
    $size: ($i / 24) * 100%;

    // col span sizes
    &.mvn-col-#{$i},
    &.mvn-col-xl-#{$i} {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: calc(#{$size} - var(--mvn-grid-gutter));
      width: calc(#{$size} - var(--mvn-grid-gutter));
      max-width: calc(#{$size} - var(--mvn-grid-gutter));

      @include media-xs {
        flex: 1 1 100%;
        width: 100%;
        max-width: 100%;
      }
    }
  }

  // col media sizes

  //lg
  @for $i from 1 through 24 {
    $size: ($i / 24) * 100%;

    @media (max-width: $mvn-media-xl - 0.01) {
      &.mvn-col-lg-#{$i} {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(#{$size} - var(--mvn-grid-gutter));
        width: calc(#{$size} - var(--mvn-grid-gutter));
        max-width: calc(#{$size} - var(--mvn-grid-gutter));
      }
    }
  }

  //md
  @for $i from 1 through 24 {
    $size: ($i / 24) * 100%;

    @media (max-width: $mvn-media-lg - 0.01) {
      &.mvn-col-md-#{$i} {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(#{$size} - var(--mvn-grid-gutter));
        width: calc(#{$size} - var(--mvn-grid-gutter));
        max-width: calc(#{$size} - var(--mvn-grid-gutter));
      }
    }
  }

  //sm
  @for $i from 1 through 24 {
    $size: ($i / 24) * 100%;

    @media (max-width: $mvn-media-md - 0.01) {
      &.mvn-col-sm-#{$i} {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(#{$size} - var(--mvn-grid-gutter));
        width: calc(#{$size} - var(--mvn-grid-gutter));
        max-width: calc(#{$size} - var(--mvn-grid-gutter));
      }
    }
  }

  //sm
  @for $i from 1 through 24 {
    $size: ($i / 24) * 100%;

    @media (max-width: $mvn-media-md - 0.01) {
      &.mvn-col-sm-#{$i} {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(#{$size} - var(--mvn-grid-gutter));
        width: calc(#{$size} - var(--mvn-grid-gutter));
        max-width: calc(#{$size} - var(--mvn-grid-gutter));
      }
    }
  }

  //xs
  @for $i from 1 through 24 {
    $size: ($i / 24) * 100%;

    @media (max-width: $mvn-media-sm - 0.01) {
      &.mvn-col-xs-#{$i} {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(#{$size} - var(--mvn-grid-gutter));
        width: calc(#{$size} - var(--mvn-grid-gutter));
        max-width: calc(#{$size} - var(--mvn-grid-gutter));
      }
    }
  }

  // col hidden
  @include media-xs {
    &.col-hidden-xs {
      display: none;
    }
  }

  @include media-sm {
    &.col-hidden-sm {
      display: none;
    }
  }

  @include media-md {
    &.col-hidden-md {
      display: none;
    }
  }

  @include media-lg {
    &.col-hidden-lg {
      display: none;
    }
  }

  @include media-xl {
    &.col-hidden-xl {
      display: none;
    }
  }
}
