@import '../../common/mixins';

@mixin heading {
  font-family: var(--mvn-typography-font-family-heading);
  font-weight: 600;
  line-height: var(--mvn-typography-line-height-heading);
}

$headings: (
  'h1': 4.8rem,
  'h2': 3.6rem,
  'h3': 2.4rem,
  'h4': 2rem,
  'h5': 1.6rem,
  'h6': 1.6rem
);

@each $tag, $size in $headings {
  .#{$tag} {
    @include heading();
    font-size: $size;
    margin: 0 0 1.6rem;

    &:not(.has-color) {
      color: var(--mvn-color-text-heading);

      :global(.mvn-dark) & {
        color: var(--mvn-color-text-heading-dark);
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.h5,
.h6 {
  margin-bottom: 0.4rem;
}

.h6 {
  font-style: italic;
  font-weight: 400;
}

.truncate {
  @extend %truncate;
}
