.mvn-password-input {
  .mvn-text-input-label button {
    background-color: transparent !important;
    background: transparent !important;
    box-shadow: none !important;
    color: inherit !important;
    opacity: 0.6;

    &:hover {
      opacity: 0.85;
    }

    &:active {
      opacity: 1;
    }
  }
}
