@import '../../common/mixins';

$colors: ('primary', 'success', 'warning', 'danger');

.container {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
}

.modal {
  border-radius: var(--mvn-border-radius-large);
  box-shadow: $elevation3;
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 4.8rem);
  max-width: calc(100vw - 4.8rem);
  position: relative;
  transition: animate-transition(border-radius);

  :global(.mvn-dark) & {
    box-shadow: $elevation3-dark;
  }
}

.title {
  align-items: center;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  display: flex;
  min-height: 4rem;
  padding-left: 1.6rem;

  h2 {
    flex-grow: 1;
    margin-bottom: 0;
  }
}

.icon {
  margin-right: 0.8rem;
}

.content {
  @include scrollbars(
    var(--mvn-color-background-text),
    var(--mvn-color-background-text-dark)
  );
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  flex-grow: 1;
  overflow: auto;
  padding: 0;

  .has-title & {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 1.6rem;
  }
}

.maximized {
  border-radius: 0;
  max-height: none;
  max-width: none;
}

@each $color in $colors {
  .#{$color} {
    .title {
      background-color: var(--mvn-#{$color}3);
      background-image: linear-gradient(
        to bottom,
        var(--mvn-#{$color}3-l5),
        var(--mvn-#{$color}3-d5)
      );
      color: var(--mvn-#{$color}-background-text);
    }
  }
}
