@import '../../common/colors';
@import '../../common/mixins';

.mvn-icon {
  @include box();
  height: 1em;

  &.mvn-icon-fw {
    width: 1em;
  }

  &.mvn-icon-stroke {
    fill: none;
    stroke: currentColor;
  }

  &.mvn-icon-fill {
    fill: currentColor;
    stroke: none;
  }

  // Ant Design Two Tone Styling
  .secondaryfill {
    opacity: 0.2;
  }

  // Clarity Variations Styling
  .clr-i-alert {
    fill: map-get($mvn-colors-text, 'warning');

    .mvn-dark & {
      fill: map-get($mvn-colors-text-dark, 'warning');
    }
  }

  .clr-i-badge {
    fill: map-get($mvn-colors-text, 'red');

    .mvn-dark & {
      fill: map-get($mvn-colors-text-dark, 'red');
    }
  }
}

.mvn-icon-container {
  font-size: 1em;
  line-height: 0;
  vertical-align: -0.125em;

  &.mvn-icon-with-size {
    vertical-align: middle;
  }
}
