.docs-monokai {
  background: #0d1011 !important;

  *::selection {
    background: rgba(255, 255, 255, 0.2) !important;
  }

  .token {
    &.buildin {
      color: #ae81ff !important;
    }

    &.comment {
      color: #677a83 !important;
    }

    &.constant {
      color: #d7d7d7 !important;
    }

    &.function {
      color: #a6e22e !important;
    }

    &.keyword {
      color: #f92672 !important;
    }

    &.number {
      color: #ae81ff !important;
    }

    &.plain {
      color: #d7d7d7 !important;
    }

    &.tag {
      color: #f92672 !important;

      &.punctuation {
        color: #d7d7d7 !important;
      }

      &.class-name {
        color: #66d9ef !important;
      }

      &.attr-name {
        color: #a6e22e !important;
      }

      &.attr-value {
        color: #e6db74 !important;
      }

      &.script {
        color: #d7d7d7 !important;

        &.number {
          color: #ae81ff !important;
        }
      }
    }
  }
}
