$black: #182026 !default;
$white: #ffffff !default;

$dark-grey1: #454f59 !default;
$dark-grey2: #39434d !default;
$dark-grey3: #323a42 !default;
$dark-grey4: #272d33 !default;
$dark-grey5: #1d2226 !default;

$grey1: #d7dadb !default;
$grey2: #b4bcc2 !default;
$grey3: #94a0a8 !default;
$grey4: #77848f !default;
$grey5: #5b6975 !default;

$light-grey1: #f5f8fb !default;
$light-grey2: #ebf1f5 !default;
$light-grey3: #e1e8ed !default;
$light-grey4: #d8e1e8 !default;
$light-grey5: #ced9e0 !default;

$red1: #ff6666 !default;
$red2: #fd4c4c !default;
$red3: #f73131 !default;
$red4: #eb2f2f !default;
$red5: #de2c2c !default;

$orange1: #ffa570 !default;
$orange2: #fc9356 !default;
$orange3: #f57f3b !default;
$orange4: #e87838 !default;
$orange5: #db7235 !default;

$yellow1: #ffd659 !default;
$yellow2: #ffcf40 !default;
$yellow3: #ffc926 !default;
$yellow4: #e5b522 !default;
$yellow5: #cca11f !default;

$green1: #51fc7b !default;
$green2: #34e35d !default;
$green3: #1bc943 !default;
$green4: #17b03b !default;
$green5: #149632 !default;

$teal1: #4fffca !default;
$teal2: #34f7bd !default;
$teal3: #18e1a5 !default;
$teal4: #16c792 !default;
$teal5: #13ad7f !default;

$blue1: #66bfff !default;
$blue2: #49acf2 !default;
$blue3: #2b91d9 !default;
$blue4: #2680bf !default;
$blue5: #216fa6 !default;

$indigo1: #a66dfc !default;
$indigo2: #884be3 !default;
$indigo3: #6d2ec9 !default;
$indigo4: #5f28b0 !default;
$indigo5: #512396 !default;

$pink1: #ff59ba !default;
$pink2: #fe40af !default;
$pink3: #fc26a4 !default;
$pink4: #e32293 !default;
$pink5: #c91e82 !default;

$mvn-color-primary1: $blue1 !default;
$mvn-color-primary2: $blue2 !default;
$mvn-color-primary3: $blue3 !default;
$mvn-color-primary4: $blue4 !default;
$mvn-color-primary5: $blue5 !default;

$mvn-color-success1: $green1 !default;
$mvn-color-success2: $green2 !default;
$mvn-color-success3: $green3 !default;
$mvn-color-success4: $green4 !default;
$mvn-color-success5: $green5 !default;

$mvn-color-warning1: $orange1 !default;
$mvn-color-warning2: $orange2 !default;
$mvn-color-warning3: $orange3 !default;
$mvn-color-warning4: $orange4 !default;
$mvn-color-warning5: $orange5 !default;

$mvn-color-danger1: $red1 !default;
$mvn-color-danger2: $red2 !default;
$mvn-color-danger3: $red3 !default;
$mvn-color-danger4: $red4 !default;
$mvn-color-danger5: $red5 !default;

$mvn-color-background: $light-grey1 !default;
$mvn-color-background-text: $white !default;
$mvn-color-background-dark: $dark-grey3 !default;
$mvn-color-background-text-dark: $dark-grey4 !default;

$mvn-color-border: $light-grey3;
$mvn-color-border-dark: $dark-grey2;

$mvn-color-text: $black !default;
$mvn-color-text-heading: $mvn-color-text !default;
$mvn-color-link: $blue4 !default;

$mvn-color-text-dark: $grey1 !default;
$mvn-color-text-heading-dark: $mvn-color-text-dark !default;
$mvn-color-link-dark: $blue2 !default;

$mvn-color-outline: rgba($mvn-color-primary3, 0.5) !default;
$mvn-color-text-selection: rgba($mvn-color-primary3, 0.25) !default;

$mvn-colors: (
  'black': $black,
  'white': $white,
  'darkGrey': $dark-grey3,
  'grey': $grey3,
  'lightGrey': $light-grey3,
  'red': $red3,
  'orange': $orange3,
  'yellow': $yellow3,
  'green': $green3,
  'teal': $teal3,
  'blue': $blue3,
  'indigo': $indigo3,
  'pink': $pink3,
  'primary': $mvn-color-primary3,
  'success': $mvn-color-success3,
  'warning': $mvn-color-warning3,
  'danger': $mvn-color-danger3
) !default;

$mvn-colors-text: (
  'black': $black,
  'white': $white,
  'darkGrey': $dark-grey3,
  'grey': $grey4,
  'lightGrey': $light-grey4,
  'red': $red4,
  'orange': $orange4,
  'yellow': $yellow4,
  'green': $green4,
  'teal': $teal4,
  'blue': $blue4,
  'indigo': $indigo4,
  'pink': $pink4,
  'primary': $mvn-color-primary4,
  'success': $mvn-color-success4,
  'warning': $mvn-color-warning4,
  'danger': $mvn-color-danger4
) !default;

$mvn-colors-text-dark: (
  'black': $black,
  'white': $white,
  'darkGrey': $dark-grey3,
  'grey': $grey2,
  'lightGrey': $light-grey2,
  'red': $red2,
  'orange': $orange2,
  'yellow': $yellow2,
  'green': $green2,
  'teal': $teal2,
  'blue': $blue2,
  'indigo': $indigo1,
  'pink': $pink2,
  'primary': $mvn-color-primary2,
  'success': $mvn-color-success2,
  'warning': $mvn-color-warning2,
  'danger': $mvn-color-danger2
) !default;
