@mixin box() {
  box-sizing: border-box;
}

@mixin pm0() {
  padding: 0;
  margin: 0;
}

@mixin bpm0() {
  @include box();
  @include pm0();
}

@mixin base-typography() {
  text-transform: none;
  line-height: $mvn-line-height;
  letter-spacing: 0;
  font-size: $mvn-font-size;
  font-weight: $mvn-font-weight;
}

@mixin heading-typography() {
  color: $mvn-color-text-heading;
  font-family: $mvn-font-family-heading;
  font-weight: 600;
  margin: 0 0 $mvn-base;
  padding: 0;

  .mvn-dark & {
    color: $mvn-color-text-heading-dark;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

@mixin monospace-typography() {
  text-transform: none;
  font-family: $mvn-font-family-monospace;
}

@mixin truncate() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
