// Maeven base size
$mvn-base: 16px !default;

// Typography
$mvn-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  Oxygen-Sans, Ubuntu, Cantarell, 'Fira Sans', 'Helvetica Neue', sans-serif !default;

$mvn-font-family-monospace: source-code-pro, Menlo, Monaco, Consolas,
  'Courier New', monospace !default;

$mvn-font-family-heading: $mvn-font-family !default;

$mvn-font-size: $mvn-base !default;
$mvn-font-size-large: $mvn-base * 1.15 !default;
$mvn-font-size-small: $mvn-base * 0.85 !default;

$mvn-line-height: $mvn-base * 1.4 !default;
$mvn-font-weight: 400 !default;

// Sizes
$mvn-border-radius: $mvn-base / 4 !default;
