@import '../../../common/mixins';

$alert-types: (
  'info': 'primary',
  'success': 'success',
  'warning': 'warning',
  'danger': 'danger'
);

.group {
  display: flex;
  transition: animate-transition(background-color);
}

.nav {
  align-items: center;
  display: flex;
  transition: animate-transition(background-color);
}

.group :global(.mvn--alert) {
  align-items: center;
  background-color: transparent;
  border: 0;
  color: inherit;
  margin: 0 0 0 0.8rem;
  padding: 0;
  flex-grow: 1;

  > * {
    color: inherit;
    margin-bottom: 0;
  }

  > div > strong {
    display: inline-block;
    font-size: inherit;
    font-weight: bold;
    line-height: inherit;
    margin-bottom: 0;

    &::after {
      content: '\00a0';
    }
  }

  > div:last-child {
    position: unset;
  }
}

@each $name, $color in $alert-types {
  .#{$name} {
    background-color: var(--mvn-#{$color});
    color: var(--mvn-#{$color}-background-text);

    .nav {
      background-color: var(--mvn-#{$color}-d15);
    }
  }
}
