$mvn-media-xs: 0;
$mvn-media-sm: 576px;
$mvn-media-md: 768px;
$mvn-media-lg: 992px;
$mvn-media-xl: 1200px;

@mixin media-xs {
  @media (max-width: $mvn-media-sm - 0.01) {
    @content;
  }
}

@mixin media-sm {
  @media (min-width: $mvn-media-sm) and (max-width: $mvn-media-md - 0.01) {
    @content;
  }
}

@mixin media-md {
  @media (min-width: $mvn-media-md) and (max-width: $mvn-media-lg - 0.01) {
    @content;
  }
}

@mixin media-lg {
  @media (min-width: $mvn-media-lg) and (max-width: $mvn-media-xl - 0.01) {
    @content;
  }
}

@mixin media-xl {
  @media (min-width: $mvn-media-xl) {
    @content;
  }
}

%truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

@function animate-transition(
  $property,
  $timing: var(--mvn-transition-duration)
) {
  @return $property $timing var(--mvn-transition-timing-function);
}

$elevation-color: rgba(0, 0, 0, 0.15);
$elevation-color-dark: rgba(19, 8, 8, 0.3);

$elevation1: 0 1px 1px $elevation-color, 0 2px 2px $elevation-color,
  0 4px 4px $elevation-color !default;
$elevation2: 0 1px 1px $elevation-color, 0 2px 2px $elevation-color,
  0 4px 4px $elevation-color, 0 8px 8px $elevation-color !default;
$elevation3: 0 1px 1px $elevation-color, 0 2px 2px $elevation-color,
  0 4px 4px $elevation-color, 0 8px 8px $elevation-color,
  0 16px 16px $elevation-color !default;
$elevation4: 0 1px 1px $elevation-color, 0 2px 2px $elevation-color,
  0 4px 4px $elevation-color, 0 8px 8px $elevation-color,
  0 16px 16px $elevation-color, 0 32px 32px $elevation-color !default;

$elevation1-dark: 0 1px 1px $elevation-color-dark,
  0 2px 2px $elevation-color-dark, 0 4px 4px $elevation-color-dark !default;
$elevation2-dark: 0 1px 1px $elevation-color-dark,
  0 2px 2px $elevation-color-dark, 0 4px 4px $elevation-color-dark,
  0 8px 8px $elevation-color-dark !default;
$elevation3-dark: 0 1px 1px $elevation-color-dark,
  0 2px 2px $elevation-color-dark, 0 4px 4px $elevation-color-dark,
  0 8px 8px $elevation-color-dark, 0 16px 16px $elevation-color-dark !default;
$elevation4-dark: 0 1px 1px $elevation-color-dark,
  0 2px 2px $elevation-color-dark, 0 4px 4px $elevation-color-dark,
  0 8px 8px $elevation-color-dark, 0 16px 16px $elevation-color-dark,
  0 32px 32px $elevation-color-dark !default;
