$mvn-media-xs: 0;
$mvn-media-sm: 576px;
$mvn-media-md: 768px;
$mvn-media-lg: 992px;
$mvn-media-xl: 1200px;

@mixin media-xs {
  @media (max-width: $mvn-media-sm - 0.01) {
    @content;
  }
}

@mixin media-sm {
  @media (min-width: $mvn-media-sm) and (max-width: $mvn-media-md - 0.01) {
    @content;
  }
}

@mixin media-md {
  @media (min-width: $mvn-media-md) and (max-width: $mvn-media-lg - 0.01) {
    @content;
  }
}

@mixin media-lg {
  @media (min-width: $mvn-media-lg) and (max-width: $mvn-media-xl - 0.01) {
    @content;
  }
}

@mixin media-xl {
  @media (min-width: $mvn-media-xl) {
    @content;
  }
}

%truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

@function animate-transition(
  $property,
  $timing: var(--mvn-transition-duration)
) {
  @return $property $timing var(--mvn-transition-timing-function);
}

$elevation-color: rgba(0, 0, 0, 0.15);
$elevation-color-dark: rgba(19, 8, 8, 0.3);

$elevation1: 0 1px 1px $elevation-color, 0 2px 2px $elevation-color,
  0 4px 4px $elevation-color !default;
$elevation2: 0 1px 1px $elevation-color, 0 2px 2px $elevation-color,
  0 4px 4px $elevation-color, 0 8px 8px $elevation-color !default;
$elevation3: 0 1px 1px $elevation-color, 0 2px 2px $elevation-color,
  0 4px 4px $elevation-color, 0 8px 8px $elevation-color,
  0 16px 16px $elevation-color !default;
$elevation4: 0 1px 1px $elevation-color, 0 2px 2px $elevation-color,
  0 4px 4px $elevation-color, 0 8px 8px $elevation-color,
  0 16px 16px $elevation-color, 0 32px 32px $elevation-color !default;

$elevation1-dark: 0 1px 1px $elevation-color-dark,
  0 2px 2px $elevation-color-dark, 0 4px 4px $elevation-color-dark !default;
$elevation2-dark: 0 1px 1px $elevation-color-dark,
  0 2px 2px $elevation-color-dark, 0 4px 4px $elevation-color-dark,
  0 8px 8px $elevation-color-dark !default;
$elevation3-dark: 0 1px 1px $elevation-color-dark,
  0 2px 2px $elevation-color-dark, 0 4px 4px $elevation-color-dark,
  0 8px 8px $elevation-color-dark, 0 16px 16px $elevation-color-dark !default;
$elevation4-dark: 0 1px 1px $elevation-color-dark,
  0 2px 2px $elevation-color-dark, 0 4px 4px $elevation-color-dark,
  0 8px 8px $elevation-color-dark, 0 16px 16px $elevation-color-dark,
  0 32px 32px $elevation-color-dark !default;

@mixin input-mixin {
  background: var(--mvn-color-background-text);
  border: 1px solid var(--mvn-color-border);
  border-radius: var(--mvn-border-radius);
  box-sizing: border-box;
  color: var(--mvn-color-text);
  flex-grow: 1;
  font-family: var(--mvn-typography-font-family);
  line-height: var(--mvn-typography-line-height);
  margin: 0;
  width: 100%;

  :global(.mvn-dark) & {
    background: var(--mvn-color-background-text-dark);
    border-color: var(--mvn-color-border-dark);
    color: var(--mvn-color-text-dark);
  }

  &:focus {
    outline: none;
    z-index: 1;
    border-color: var(--mvn-color-outline);
    box-shadow: 0 0 0 var(--mvn-size-outline) var(--mvn-color-outline);
  }

  &::placeholder {
    color: currentColor;
    opacity: 0.5;
  }

  &:disabled {
    background: var(--mvn-color-background);
    color: var(--mvn-color-text-grey);

    :global(.mvn-dark) & {
      background: var(--mvn-dark-grey1);
    }
  }
}
