$colors: (
  'black': 'black',
  'white': 'white',
  'darkGrey': 'dark-grey',
  'grey': 'grey',
  'lightGrey': 'light-grey',
  'red': 'red',
  'orange': 'orange',
  'yellow': 'yellow',
  'green': 'green',
  'teal': 'teal',
  'blue': 'blue',
  'indigo': 'indigo',
  'pink': 'pink',
  'primary': 'primary',
  'success': 'success',
  'warning': 'warning',
  'danger': 'danger'
);

@each $color, $dashedColor in $colors {
  .background-#{$color} {
    background: var(--mvn-#{$dashedColor});
    color: var(--mvn-#{$dashedColor}-background-text);
  }
}

.background-background {
  background: var(--mvn-color-background);
  color: var(--mvn-color-text);

  :global(.mvn-dark) & {
    background: var(--mvn-color-background-dark);
    color: var(--mvn-color-text-dark);
  }
}

.background-textBackground {
  background: var(--mvn-color-background-text);
  color: var(--mvn-color-text);

  :global(.mvn-dark) & {
    background: var(--mvn-color-background-text-dark);
    color: var(--mvn-color-text-dark);
  }
}

@each $color, $dashedColor in $colors {
  .text-#{$color} {
    color: var(--mvn-color-text-#{$dashedColor});

    :global(.mvn-dark) & {
      color: var(--mvn-color-text-#{$dashedColor}-dark);
    }

    &a,
    &h1,
    &h2,
    &h3,
    &h4,
    &h5,
    &h6,
    &p,
    &span {
      color: var(--mvn-color-text-#{$dashedColor});

      :global(.mvn-dark) & {
        color: var(--mvn-color-text-#{$dashedColor}-dark);
      }
    }
  }
}

.text-inherit {
  color: inherit;

  :global(.mvn-dark) & {
    color: inherit;
  }

  &a,
  &h1,
  &h2,
  &h3,
  &h4,
  &h5,
  &h6,
  &p,
  &span {
    color: inherit;

    :global(.mvn-dark) & {
      color: inherit;
    }
  }
}
