@import '../../common/colors';
@import '../../common/functions';
@import '../../common/mixins';
@import '../../common/variables';

$mvn-input-border: 1px;

$mvn-input-color-background: $mvn-color-background-text;
$mvn-input-color-background-disabled: lighten($light-grey3, 5);

$mvn-input-color-background-dark: $dark-grey5;
$mvn-input-color-background-disabled-dark: lighten($dark-grey5, 5);

@mixin mvn-input-container() {
  @include bpm0();
  width: 100%;
}

@mixin mvn-input-label {
  @include bpm0();
  @include base-typography();
  display: flex;
  line-height: 1;

  &:not(:last-child) {
    margin-bottom: $mvn-base / 2;
  }
}

@mixin mvn-input-error {
  color: map-get($mvn-colors-text, 'danger');
  border-color: rgba(map-get($mvn-colors-text, 'danger'), 0.6);

  &:focus {
    border-color: $mvn-color-outline-danger;
    box-shadow: 0 0 0 $mvn-outline-size $mvn-color-outline-danger;
  }

  .mvn-dark & {
    color: map-get($mvn-colors-text-dark, 'danger');
    border-color: rgba(map-get($mvn-colors-text-dark, 'danger'), 0.6);

    &:focus {
      border-color: $mvn-color-outline-danger;
    }
  }
}

@mixin mvn-input {
  @include box();
  @include base-typography();
  margin: 0;
  font-family: $mvn-font-family;
  font-size: 0.95em;
  flex-grow: 1;
  color: choose-text-color($mvn-input-color-background);
  background: $mvn-input-color-background;
  border-radius: $mvn-border-radius;
  border: $mvn-input-border solid $mvn-color-border;

  &:focus {
    outline: none;
    z-index: 1;
    border-color: $mvn-color-outline;
    box-shadow: 0 0 0 $mvn-outline-size $mvn-color-outline;
  }

  &::placeholder {
    color: $mvn-color-text;
    opacity: 0.5;
  }

  &:disabled {
    background: $mvn-input-color-background-disabled;
    color: rgba(choose-text-color($mvn-input-color-background-disabled), 0.6);
  }

  .mvn-dark & {
    color: choose-text-color($mvn-input-color-background-dark);
    background: $mvn-input-color-background-dark;
    border-color: $mvn-color-border-dark;

    &:focus {
      border-color: $mvn-color-outline;
    }

    &::placeholder {
      color: $mvn-color-text-dark;
    }

    &:disabled {
      background: $mvn-input-color-background-disabled-dark;
      color: rgba(
        choose-text-color($mvn-input-color-background-disabled-dark),
        0.6
      );
    }
  }
}
